<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head :: head}"></div>
</head>
<body>
    <div th:replace="fragments/topbar :: common_topbar"></div>
    <div th:if="${list.isEmpty()}">
        <p> La lista è vuota</p>
    </div>
    <div th:unless="${list.isEmpty()}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Descrizione
                    </th>
                    <th>
                        Foto
                    </th>
                    <th>
                        Prezzo
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizz : ${list}">
                    <td th:text="${pizz.nome}">
                    </td>
                    <td th:text="${pizz.descrizione.replace('_', ', ')}">
                    </td>
                    <td>
                        <a th:href="@{${pizz.foto}}">Vedi foto</a><!--[[${pizz.foto}]]-->
                    </td>
                    <td th:text="€ + ${pizz.prezzo}">
                    </td>
                    <td><a th:href="@{|/pizzeria/show_id/${pizz.id}|}" class="list-group-item list-group-item-action"><i class="bi bi-search"></i></a></td>        
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>